<footer class="footer">
    <div class="footer__content">
        <a class="f-logo" href="/index.html"
        ><img src="img/logos/logo_footer.svg" alt="footer-logo"
        /></a>
        <div class="copy">
            <span class="f-copy">&copy;</span>
            <p>2021</p>
        </div>
        <nav class="f-navigation">
            <ul>
                <li>
                    <button data-model="modal-cooperates" class="footer__type__btn" type="button">Сотрудничать с нами
                    </button>
                </li>
                <li><a href="/site-map.html">Карта сайта</a></li>
                <li class="f-other-links">
                    <a href="https://vk.com/"><img src="img/ui/vk.svg"/></a
                    ><a href="https://ru-ru.facebook.com/"
                ><img src="img/ui/fb.svg"
                /></a>
                </li>
                <li><a href="/privacy.html">Политика конфиденциальности</a></li>
            </ul>
        </nav>
        <a class="cake" href="https://cake.ru/">Разработка сайта cake.ru</a>
    </div>
</footer>