<header class="header">
    <div class="header__container">
        <div class="header__body header__body-desktop">
            <div class="header__body-inner">
                <a href="/index.html" class="header__logo">
                    <img src="/img/logos/logo.svg" alt="Орион" />
                </a>
                <div class="header__information">
                    <p class="header__adress">
                        188&nbsp;304, Ленинградская область, г.&nbsp;Гатчина,
                        ул.&nbsp;Солодухина, д.&nbsp;2а, строение&nbsp;8
                    </p>
                    <div class="header__telephone-list">
                        <a href="tel:+78124384091" class="header__telephone-item"
                        >+7 (812) 438 40 91</a
                        >
                        <a href="tel:+78124384092" class="header__telephone-item"
                        >+7 (812) 438 40 92</a
                        >
                        <a href="tel:+74991103871" class="header__telephone-item"
                        >+7 (499) 110 38 71</a
                        >
                    </div>
                    <div class="header__mail-list">
                        <a
                                href="mailto:orion_gatchina@mail.ru"
                                class="header__mail-item"
                        >
                            orion_gatchina@mail.ru
                        </a>
                        <a href="mailto:orion@orion-nm.ru" class="header__mail-item">
                            orion@orion-nm.ru
                        </a>
                    </div>
                    <button class="header__request-btn">
                        <span>Оставить заявку</span>
                    </button>
                </div>
                <div class="header__controls">
                    <div class="header__search">
                        <button class="header__search-btn">
                            <img src="./img/ui/search.svg" alt="Поиск" />
                        </button>
                    </div>
                    <a href="" class="header__language">EN</a>
                </div>
            </div>
            <div class="header__body-bottom">
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li class="header__menu-item">
                            <a href="/products.html" class="header__menu-link">Продукция</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="/formandpacks.html" class="header__menu-link">Форма и упаковка</a>
                            <ul class="header__menu-submenu__list">
                                <li class="header__menu-submenu__item">
                                    <a href="/form.html" class="header__menu-link">Форма</a>
                                </li>
                                <li class="header__menu-submenu__item">
                                    <a href="/pack.html" class="header__menu-link">Упаковка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <a href="/certificate.html" class="header__menu-link">Сертификаты</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">О производителе</a>
                            <ul class="header__menu-submenu__list">
                                <li class="header__menu-submenu__item">
                                    <a href="/about.html" class="header__menu-link">О компании</a>
                                </li>
                                <li class="header__menu-submenu__item">
                                    <a href="/history.html" class="header__menu-link"
                                    >История предприятия</a
                                    >
                                </li>
                                <li class="header__menu-submenu__item">
                                    <a href="/partners.html" class="header__menu-link">Партнеры</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <a href="/customer.html" class="header__menu-link">Клиентам</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="/supplier.html" class="header__menu-link">Поставщикам</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="header__menu-link">Пресс-центр</a>
                            <ul class="header__menu-submenu__list">
                                <li class="header__menu-submenu__item">
                                    <a href="/news.html" class="header__menu-link">Новости</a>
                                </li>
                                <li class="header__menu-submenu__item">
                                    <a href="/gallery-video.html" class="header__menu-link">Галерея</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header__menu-item">
                            <a href="/contacts.html" class="header__menu-link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header__body header__body-mobile">
            <div class="header__body_container">
                <a href="/index.html" class="header__logo">
                    <img src="/img/logos/logo.svg" alt="Орион" />
                </a>
                <div class="header__block">
                    <div class="header__menu_search">
                        <button class="header__search-btn">
                            <img src="./img/ui/search.svg" alt="Поиск" />
                        </button>
                    </div>
                    <div class="header__menu_icon-container">
                        <div class="header__menu_icon icon-menu">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="header__block_content ">
                    <aside class="header__block_aside">
                        <nav class="header__menu">
                            <ul class="header__menu-list">
                                <li class="header__menu-item">
                                    <a href="/products.html" class="header__menu-link">Продукция</a>
                                </li>
                                <li class="header__menu-item isactive">
                                    <span class="header__menu-link">Форма и упаковка</span>
                                    <ul class="header__menu-submenu__list">
                                        <li class="header__menu-submenu__item">
                                            <a href="/form.html" class="header__menu-link">Форма</a>
                                        </li>
                                        <li class="header__menu-submenu__item">
                                            <a href="/pack.html" class="header__menu-link">Упаковка</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header__menu-item">
                                    <a href="/certificate.html" class="header__menu-link">Сертификаты</a>
                                </li>
                                <li class="header__menu-item">
                                    <span class="header__menu-link">О производителе</span>
                                    <ul class="header__menu-submenu__list">
                                        <li class="header__menu-submenu__item">
                                            <a href="/about.html" class="header__menu-link">О компании</a>
                                        </li>
                                        <li class="header__menu-submenu__item">
                                            <a href="/history.html" class="header__menu-link"
                                            >История предприятия</a
                                            >
                                        </li>
                                        <li class="header__menu-submenu__item">
                                            <a href="/partners.html" class="header__menu-link">Партнеры</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header__menu-item">
                                    <a href="/customer.html" class="header__menu-link">Клиентам</a>
                                </li>
                                <li class="header__menu-item">
                                    <a href="/supplier.html" class="header__menu-link">Поставщикам</a>
                                </li>
                                <li class="header__menu-item">
                                    <span  class="header__menu-link">Пресс-центр</span>
                                    <ul class="header__menu-submenu__list">
                                        <li class="header__menu-submenu__item">
                                            <a href="/news.html" class="header__menu-link">Новости</a>
                                        </li>
                                        <li class="header__menu-submenu__item">
                                            <a href="/gallery-video.html" class="header__menu-link">Галерея</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header__menu-item">
                                    <a href="/contacts.html" class="header__menu-link">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                        <a href="#" class="header__language">EN</a>
                    </aside>
                    <div class="header__information">
                        <p class="header__adress">
                            188&nbsp;304, Ленинградская область, г.&nbsp;Гатчина,
                            ул.&nbsp;Солодухина, д.&nbsp;2а, строение&nbsp;8
                        </p>
                        <div class="header__telephone-list">
                            <a href="tel:+78124384091" class="header__telephone-item"
                            >+7 (812) 438 40 91</a
                            >
                            <a href="tel:+78124384092" class="header__telephone-item"
                            >+7 (812) 438 40 92</a
                            >
                            <a href="tel:+74991103871" class="header__telephone-item"
                            >+7 (499) 110 38 71</a
                            >
                        </div>
                        <div class="header__mail-list">
                            <a
                                    href="mailto:orion_gatchina@mail.ru"
                                    class="header__mail-item"
                            >
                                orion_gatchina@mail.ru
                            </a>
                            <a href="mailto:orion@orion-nm.ru" class="header__mail-item">
                                orion@orion-nm.ru
                            </a>
                        </div>
                        <button class="header__request-btn">
                            <span>Оставить заявку</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>