<div class="navigation">
    <nav class="navigation__breadcrumb">
        <ul class="navigation__breadcrumb-list">
            <li class="navigation__breadcrumb-item">
                <a href="" class="navigation__breadcrumb-link">Главная</a>
            </li>
            <li class="navigation__breadcrumb-item">
                <a href="" class="navigation__breadcrumb-link">О производителе</a>
            </li>
            <li class="navigation__breadcrumb-item">
                <a href="" class="navigation__breadcrumb-link">История предприятия</a>
            </li>
        </ul>
    </nav>
    <h1 class="navigation__title">История предприятия</h1>
</div>