.slider {


  & .swiper-pagination {
    z-index: 1;
    bottom: 0;
    top: auto;
  }
  &__pagination{
    &_container{
      width: 100%;
    }
  }
  &__navigation {
    max-width: 1200px;
    width: 100%;
    @include to(1280px) {
      max-width: 100%;
    }

    &_container {
      padding: 2px;
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      @include to(1400px) {
        width: 100%;
      }
    }

    & .slider-pagination {
      width: 1100px;

      @include to(1280px) {
        width: 100%;
      }
      position: initial;
      height: 2px;

    }
  }

  &__button {

    &-prev, &-next {
      position: initial;
      flex: 0 0 45px;
      height: 45px;
      border-radius: 100%;
      border: 1px solid #2864B2;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:not(.swiper-button-disabled) {
        &:hover {
          border: 1px solid #22508d;

          & path {
            stroke: #22508d;
          }
        }
      }

      &.swiper-button-disabled {
        border: 1px solid #AEB6C1;

        & path {
          stroke: #AEB6C1;
        }
      }
    }
  }

  &__button-prev {
    margin-right: 10px;
  }

  &__button-next {
    transform: rotate(180deg);
  }

  &__pagination {
    &_container {
      position: relative;
      display: flex;
      flex-direction: column;
      @include to(1280px) {
        width: 100%;
      }
    }

    &_current {
      position: absolute;
      color: #fff;
      top: 12px;
    }
  }

  &-pagination {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);


  }
}

