.partners-box {
  background-color: $color-dark-bg;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-top: 100px;
  padding-bottom: 100px;

  @include vp--1023{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.partners-box .partners-box__swiper-wrapper {
  margin-bottom: 33px;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  align-items: stretch;

  @include vp--1023{
    flex-direction: row;
  }
}

.partners-box__slide {


  a {
    display: flex;
    min-height: 93px;
    justify-content: center;
    align-items: center;
  }

  @include vp--1023{
   padding: 0 25px;
  }
}